version: "3.9"

services:
  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:password@db:5432/photoshare
      - REDIS_URL=redis://:yourpassword@redis:6379/0
      - CLOUDINARY_URL=cloudinary://API_KEY:API_SECRET@CLOUD_NAME
      - SECRET_KEY=supersecret
    volumes:
      - ./:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: photoshare
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    environment:
      - REDIS_PASSWORD=yourpassword

volumes:
  pgdata:
