fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
alembic
pydantic[dotenv]
python-jose[cryptography]
python-multipart
passlib[bcrypt]
redis 
fastapi-limiter 
cloudinary 
fastapi-mail 
fastapi-limiter
sqlalchemy-utils 
pytest 
faker 
django
qrcode 
pyqrcode 
pillow 
pytest-asyncio 
pydantic-settings